@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-primary: hsl(300, 98%, 62%);
  --bg-primary-light: hsl(300, 83%, 69%);
  --bg-primary-lighter: hsl(300, 65%, 77%);
  --bg-primary-lightest: hsl(300, 43%, 83%);
  --bg-primary-dark: hsl(300, 75%, 54%);
  --bg-primary-darker: hsl(300, 67%, 46%);
  --bg-primary-darkest: hsl(300, 54%, 22%);

  --bg-secondary: hsl(300, 98%, 62%);
  --bg-secondary-light: hsl(300, 83%, 69%);
  --bg-secondary-lighter: hsl(300, 65%, 77%);
  --bg-secondary-lightest: hsl(300, 43%, 83%);
  --bg-secondary-dark: hsl(300, 75%, 54%);
  --bg-secondary-darker: hsl(300, 67%, 46%);
  --bg-secondary-darkest: hsl(300, 54%, 22%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bg-primary: hsl(300, 98%, 62%);
    --bg-primary-light: hsl(300, 83%, 69%);
    --bg-primary-lighter: hsl(300, 65%, 77%);
    --bg-primary-lightest: hsl(300, 43%, 83%);
    --bg-primary-dark: hsl(300, 75%, 54%);
    --bg-primary-darker: hsl(300, 67%, 46%);
    --bg-primary-darkest: hsl(300, 54%, 22%);

    --bg-secondary: hsl(300, 98%, 62%);
    --bg-secondary-light: hsl(300, 83%, 69%);
    --bg-secondary-lighter: hsl(300, 65%, 77%);
    --bg-secondary-lightest: hsl(300, 43%, 83%);
    --bg-secondary-dark: hsl(300, 75%, 54%);
    --bg-secondary-darker: hsl(300, 67%, 46%);
    --bg-secondary-darkest: hsl(300, 54%, 22%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; /* Añadir desplazamiento suave */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 8s linear infinite;
}

/* Ocultar las barras de desplazamiento */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Agregar una animación o transición suave para las barras de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(246, 188, 231, 0.2);
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para los puntos indicadores de scroll */
.scroll-indicator {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.scroll-indicator span {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3); /* Color sutil para los puntos */
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.scroll-indicator span.active {
  background-color: rgba(0, 0, 0, 0.7); /* Puntos más visibles cuando están activos */
}

/* Estilo para el scroll horizontal con testimonios */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Estilo para el contenedor de testimonios */
.overflow-x-auto {
  overflow-x: auto; /* Permite el scroll horizontal */
}

.scroll-smooth {
  scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Agrega el padding-top para las secciones */
#about, #projects, #testimonials, #hobbies, #contact {
  padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
}
